# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Executables in examples (for Linux and OSX)
# ignore all files in specific example directories
examples/*/*
# except for sub-directories and filenames containing a '.'
!examples/*/*/
!examples/*/*.*

# Debug files
*.dSYM/
*.su

# VSCode files
.vscode/


# Ignore files build by Visual Studio
[Dd]ebug
[Rr]elease
*.vs
*.obj
*.pdb
*.aps
*.user
# *.vcproj
# *.vcxproj*
# *.sln
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

build