GLFW_ICON ICON "rguistyler.ico"

1 VERSIONINFO
FILEVERSION     2,0,0,0
PRODUCTVERSION  2,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "My Company Name"
      VALUE "FileDescription", "rGuiStyler - raygui styles editor"
      VALUE "FileVersion", "2.0"
      VALUE "InternalName", "rguistyler"
      VALUE "LegalCopyright", "(c) 2018 @raysan5 @JordiKoro @Adri102502"
      //VALUE "OriginalFilename", "raylib_app.exe"
      VALUE "ProductName", "rGuiStyler"
      VALUE "ProductVersion", "2.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
