GLFW_ICON ICON "rguilayout.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "My Company Name"
      VALUE "FileDescription", "rGuiLayout - raygui layout editor"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "rguilayout"
      VALUE "LegalCopyright", "(c) 2017 raylib technologies (@raysan5)"
      //VALUE "OriginalFilename", "raylib_app.exe"
      VALUE "ProductName", "rGuiLayout"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
